# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
.venv/
env/

# Secret files (CRITICAL)
.env
.tokens/
*.log

# IDE settings
.idea/
.vscode/

# Build and distribution
dist/
build/
*.egg-info/
